/*@media (min-width:768px){
    .mobile{
        display: none;
    } 
}*/
.cart{
    p{  
        border-radius: 50%;
        padding:0 8px;
        position: absolute;
        top:-7px;
        right:0;
    }
}